.todo-list {
    position: relative;
    &:hover{
        .del-btn {
            display: block;
        }  
    }
	.todo-item-wrap {
		// padding-right: 3%;
	}
	.del-btn {
		color: #ff8080;
		display: none;
		position: absolute;
        right: 0;
	}
    
}
