.todo-list {
    position: relative;
	padding-inline-start: 0px;
    &:hover{
        .del-btn,.update-btn {
            display: block;
        }  
    }
	.todo-item-wrap {
		// padding-right: 3%;
	}
	.td-btn {
		color: #ff8080;
		display: none;
		position: absolute;
        right: 0;
	}
	.update-btn {
		color:#4c56dd ;
	}
    
}
